{
  "printWidth": 150,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "arrowParens": "avoid",
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "importOrder": [
    "^@nestjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderGroupNamespaceSpecifiers": true
}