version: '3.8'

services:
  server:
    build:
      context: ./
      target: development-build-stage
      dockerfile: Dockerfile
    command: npm run start:dev
    container_name: gx-compliance-server
    # if you're using a locally deployed registry, use port 3001
    ports:
      - 3000:3000
    volumes:
      - /usr/src/app/node_modules
    restart: 'unless-stopped'

volumes:
  data:
    driver: local

# if you're using a locally deployed registry, uncoment the section below
#networks:
#  default:
#    name: gx-registry_default
#    external: true

